:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --section-padding: 10rem;
  --section-background: #ececec;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.6%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.grid-1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*Small screen*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium screen*/
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large screen*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Main Title
*
*/
.main-title {
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  border: 2px solid black;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto 8rem;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}

.main-title::before,
.main-title::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
}

.main-title::before {
  left: -3rem;
  transition: var(--main-transition-duration);
}
.main-title::after {
  right: -3rem;
  transition: var(--main-transition-duration);
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    left: 0;
    border-radius: 0%;
    height: 100%;
    width: 50%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    height: 100%;
    width: 50%;
    border-radius: 0%;
  }
}

/*
*
*
*
*
*/
/*Start header*/
header {
  background-color: white;
  box-shadow: 0 0 1rem #ddd;
  position: relative;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header .container a.logo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  height: 7.2rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .container a.logo {
    width: 100%;
    height: 5rem;
    justify-content: center;
  }
}

header .container > ul {
  display: flex;
}

@media screen and (max-width: 767px) {
  header .container ul {
    margin: auto;
  }
}

header .container > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  font-size: 2rem;
  color: black;
  position: relative;
  padding: 0 3rem;
  transition: var(--main-transition-duration);
  overflow: hidden; /*That will hide the before element and make it appear on hover when the left change to 0 in hover effect*/
}

@media screen and (max-width: 767px) {
  header .container > ul > li > a {
    padding: 0 1rem;
    font-size: 1.6rem;
    height: 4rem;
  }
}

header .container > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
}

header .container > ul > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .container > ul > li > a:hover::before {
  left: 0;
  transition: var(--main-transition-duration);
}

header .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 5rem);
  width: 100%;
  z-index: 100;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  padding: 2rem;
  grid-template-columns: 310px auto;
  gap: 4rem;
  display: none;
  transition: display var(--main-transition-duration),
    top var(--main-transition-duration);
}

header .container > ul > li:last-child:hover .mega-menu {
  display: grid;
  top: calc(100% + 1px);
}

header .mega-menu .image img {
  max-width: 100%;
  height: 30rem;
}

@media screen and (max-width: 991px) {
  header .mega-menu {
    grid-template-columns: 1fr;
  }
  header .mega-menu .image img {
    display: none;
  }
}

header .mega-menu ul {
  gap: 0 5rem;
}

@media screen and (max-width: 767px) {
  header .mega-menu ul {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

header .mega-menu ul li {
  position: relative;
}

header .mega-menu ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #fafafa;
  transition: var(--main-transition-duration);
}

header .mega-menu ul li:hover:before {
  width: 100%;
}

header .mega-menu ul li a {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  color: var(--main-color);
  transition: var(--main-transition-duration);
}

header .mega-menu ul li:not(:nth-last-child(1)):not(:nth-last-child(2)) {
  border-bottom: 1px solid #ccc;
}

header .mega-menu ul li i {
  margin-right: 1rem;
}

/*End header*/

/*Start Landing*/
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-8deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 991px) {
  .landing .container.grid-1x2 {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}

.landing .container .intro h1 {
  font-size: 4rem;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .landing .container .intro h1 {
    font-size: 3rem;
  }
}

.landing .container .intro p {
  font-size: 2rem;
  line-height: 1.7;
  color: #777;
  max-width: 50rem;
  margin: 5px 0 0;
}

@media screen and (max-width: 767px) {
  .landing .container .intro p {
    font-size: 1.8rem;
  }
}

.landing .container .image img {
  max-width: 100%;
  animation: up-down 5s linear infinite;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5rem);
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  bottom: 3rem;
  font-size: 3rem;
  transition: var(--main-transition-duration);
}

.landing a.go-down:hover {
  color: var(--main-color-alt);
}

.landing a.go-down i {
  animation: bouncing 1s infinite;
}

@keyframes bouncing {
  20% {
    transform: translateY(1rem);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
}
/*End Landing*/

/*Start  Section*/
.my-projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.my-projects .container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.my-projects .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition-duration);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 350px;
}

.my-projects .container .box:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2px 15px rgb(0 0 0/ 20%);
}

.my-projects .container .box img {
  width: 100%;
  max-width: 100%;
}

.my-projects .container .box .info {
  padding: 2rem;
  border-bottom: 1px solid #e6e6e6;
}

.my-projects .container .box .info h3 {
  font-size: 2rem;
  margin: 0;
}

.my-projects .container .box .info p {
  font-size: 1.4rem;
  margin: 10px 0 0;
  line-height: 1.7;
  color: #777;
}

.my-projects .container .box .more {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-projects .box .more a,
.my-projects .box .more i {
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.my-projects .container .box:hover .more i {
  position: relative;
  animation: moving-arrow 0.5s linear infinite;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(1rem);
  }
}
/*End Articles Section*/

/*Start Gallery Section*/
.gallary {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.gallary .container .box {
  border: 15px solid white;
  height: 345px;
  box-shadow: 0 0 15px 5px #ccc;
  overflow: hidden;
}

.gallary .container .image {
  position: relative;
  overflow: hidden;
}

.gallary .container .image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255/ 20%);
  opacity: 0;
  transition: var(--main-transition-duration);
  z-index: 2;
}

.gallary .box img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}

.gallary .container .box:hover img {
  transform: rotate(10deg) scale(1.4);
}

.gallary .container .box .image:hover::before {
  animation: flashing 0.3s;
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/*End Gallery Section*/

/*Start Feature*/
.feature {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.feature .box {
  border: 1px solid #ccc;
  text-align: center;
}

.feature .box .image-holder {
  position: relative;
  overflow: hidden;
}

.feature .box .image-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
}

.feature .box.quality .image-holder::before {
  background-color: rgba(255, 0, 0, 0.3);
}

.feature .box.time .image-holder::before {
  background-color: rgba(0, 128, 0, 0.3);
}

.feature .box.passion .image-holder::before {
  background-color: #2196f34d;
}

.feature .box .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 135px 700px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition-duration);
}

.feature .box .image-holder img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}

.feature .box:hover .image-holder::after {
  border-width: 0px 700px 105px 0px;
}

.feature .box h3 {
  font-size: 4rem;
  margin: auto;
  width: fit-content;
  position: relative;
}

.feature .box h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -2rem;
  left: 15px;
}

.feature .box.quality h3::after {
  background-color: red;
}

.feature .box.time h3::after {
  background-color: green;
}

.feature .box.passion h3::after {
  background-color: var(--main-color);
}

.feature .box p {
  font-size: 2rem;
  color: #777;
  padding: 2.5rem;
  line-height: 2;
  margin-top: 2rem;
}

.feature .box button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 6px;
  margin-bottom: 3rem;
}

.feature .box.quality button {
  border-color: red;
}

.feature .box.time button {
  border-color: green;
}

.feature .box.box.passion button {
  border-color: var(--main-color);
}

.feature .box button a {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: var(--main-transition-duration);
  position: relative;
}

.feature .box.quality button a {
  color: red;
  background: linear-gradient(to right, red 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.feature .box.time button a {
  color: green;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.feature .box.passion button a {
  color: var(--main-color);
  background: linear-gradient(to right, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.feature .box:hover button a {
  background-position: left bottom;
  color: white;
}

/*End Feature*/

/*Start Testimonial*/
.testimonial {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.testimonial .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.testimonial .testimonial-card {
  background-color: white;
  padding: 2rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.testimonial .testimonial-card .avatar {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  height: 100px;
}

.testimonial .testimonial-card .avatar img {
  max-width: 100%;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonial .testimonial-card h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonial .testimonial-card span {
  display: block;
  color: #777;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.testimonial .testimonial-card i {
  margin-bottom: 1rem;
  color: gold;
  font-size: 1.6rem;
}

.testimonial .testimonial-card i.unfilled {
  color: black;
}

.testimonial .testimonial-card p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #777;
}
/*End Testimonial*/

/*Stat team member*/
.team-member {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.team-member .member-card {
  position: relative;
}

.team-member .member-card::before,
.team-member .member-card::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.team-member .member-card::before {
  width: calc(100% - 6rem);
  z-index: -2;
}

.team-member .member-card::after {
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
  transition: var(--main-transition-duration);
}

.team-member .member-card:hover::after {
  width: calc(100% - 6rem);
  background: linear-gradient(
    to right,
    var(--section-background) 50%,
    #ccc 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
}

.team-member .member-card .data {
  display: flex;
  align-items: center;
  padding-top: 6rem;
}

.team-member .member-card img {
  width: calc(100% - 6rem);
  border-radius: 1rem;
  transition: var(--main-transition-duration);
}

.team-member .member-card:hover img {
  filter: grayscale(100%);
}

.team-member .member-card .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 6rem;
}

.team-member .member-card .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
}

.team-member .member-card .links a i {
  font-size: 1.8rem;
  color: #777;
  transition: var(--main-transition-duration);
}

.team-member .member-card .links a:hover i {
  color: var(--main-color);
}

.team-member .member-card .info {
  padding: 3rem 0 3rem 8rem;
}

.team-member .member-card .info h3 {
  color: var(--main-color);
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: var(--main-transition-duration);
}

.team-member .member-card:hover h3 {
  color: #777;
}

.team-member .member-card .info p {
  color: #777;
  font-size: 1.4rem;
}
/*End team member*/

/*Start Services*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.services .box {
  background-color: white;
  text-align: center;
  padding-top: 2rem;
  box-shadow: 0 1px 5px #777;
  transition: var(--main-transition-duration);
  position: relative;
  counter-increment: services;
}

.services .box::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--main-transition-duration);
}

.services .box:hover {
  transform: translateY(-1rem);
}

.services .box:hover::before {
  width: 100%;
}

.services .box i {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #d5d5d5;
}

.services .box h3 {
  font-size: 2.6rem;
  color: var(--main-color);
}

.services .box .info {
  background-color: #f9f9f9;
  padding: 1.5rem;
  margin-top: 4rem;
  text-align: right;
  position: relative;
}

.services .box .info::before,
.services .box .info::after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8rem;
}

.services .box .info::before {
  content: "0" counter(services);
  left: 0;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

.services .box .info::after {
  content: "";
  left: 8rem;
  background-color: #d5d5d5;
  transform: skew(-30deg);
}

.services .box .info a {
  color: var(--main-color);
  font-size: 1.6rem;
}
/*End Services*/

/*Start Skills*/
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.skills .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .skills .container {
    grid-template-columns: 1fr;
  }
  .skills .info {
    padding: 2rem 3rem;
  }
}

.skills .container img {
  max-width: 100%;
}

.skills .info .skill {
  position: relative;
}

.skills .info .skill:not(:first-child) {
  margin-top: 3rem;
}

.skills .info .skill h3 {
  font-size: 2.4rem;
}

.skills .info .skill .progress {
  margin-top: 2rem;
  background-color: #ddd;
  height: 3rem;
  position: relative;
}

.skills .info .skill .progress::before {
  content: attr(data-width);
  position: absolute;
  right: 1rem;
  top: -5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
}

.skills .info .skill .progress span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  animation: width-fill 0.5s linear 0 1 forwards;
}

@keyframes width-fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*End Skills*/

/*Start how it work section*/
.how-work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.how-work .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .how-work .container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6rem;
  }
}

.how-work .image > img {
  max-width: 100%;
}

.how-work .content .info {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #f6f6f6;
  border: 2px solid white;
  padding: 3rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.how-work .content .info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition-duration);
}

.how-work .content .info:hover:before {
  width: 100%;
  height: 100%;
}

.how-work .info img {
  width: 6.4rem;
}

.how-work .info .description {
  flex: 1;
}

.how-work .info .description h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.how-work .info .description p {
  font-size: 1.8rem;
  color: #777;
  line-height: 1.7;
}
/*End how it work section*/

/*Start event section*/
.event {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.event .dot {
  position: absolute;
  background-image: url(../img/dots.png);
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
}

.event .dot.dot-left {
  bottom: 10rem;
  left: 0;
}

.event .dot.dot-right {
  top: 10rem;
  right: 0;
}

.event .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 5rem 0;
}

@media screen and (max-width: 767px) {
  .event .container {
    grid-template-columns: 1fr;
  }
}

.event .container img {
  max-width: 45rem;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  .event .container img {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .event .container img {
    max-width: 30rem;
  }
}

.event .container .content {
  text-align: center;
}

.event .container .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.event .container .time .unit {
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 7.5rem;
  text-align: center;
  transition: var(--main-transition-duration);
}

.event .container .time .unit:hover,
.event .container .time .unit:hover span:last-child {
  border-color: var(--main-color);
}

.event .container .time .unit span {
  display: block;
}

.event .container .time .unit span:first-child {
  color: var(--main-color);
  font-size: 3.5rem;
  font-weight: bold;
  padding: 1.5rem;
}

.event .container .time .unit span:last-child {
  border-top: 1px solid #ccc;
  font-size: 1.3rem;
  padding: 8px 10px;
  transition: var(--main-transition-duration);
}

.event .container .content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.event .container .content p {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.7;
}

.event .container form {
  grid-column: span 2;
  background-color: #f6f5f5;
  justify-self: center;
  display: flex;
  gap: 2rem;
  width: 600px;
  max-width: 100%;
  padding: 3rem;
  border-radius: 5rem;
}

@media screen and (max-width: 767px) {
  .event .container form {
    width: 100%;
    padding: 2rem;
    border-radius: 0;
    flex-direction: column;
  }
}

.event .container form input[type="email"],
.event .container form button {
  border: none;
  border-radius: 5rem;
  padding: 2rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .event .container form input[type="email"],
  .event .container form button {
    border-radius: 0;
  }
}

.event .container form input[type="email"] {
  caret-color: var(--main-color);
  flex: 1;
}

.event .container form input[type="email"]:focus {
  outline: none;
}

.event .container form input[type="email"]::placeholder {
  transition: opacity var(--main-transition-duration);
}

.event .container form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.event .container form button {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition-duration);
}

.event .container form button:hover {
  background-color: var(--main-color-alt);
}
/*End event section*/
