:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --section-padding: 10rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.6%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.grid-1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*Small screen*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium screen*/
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large screen*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Main Title
*
*/
.main-title {
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  border: 2px solid black;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto 8rem;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}

.main-title::before,
.main-title::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
}

.main-title::before {
  left: -3rem;
  transition: var(--main-transition-duration);
}
.main-title::after {
  right: -3rem;
  transition: var(--main-transition-duration);
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    left: 0;
    border-radius: 0%;
    height: 100%;
    width: 50%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    height: 100%;
    width: 50%;
    border-radius: 0%;
  }
}

/*
*
*
*
*
*/
/*Start header*/
header {
  background-color: white;
  box-shadow: 0 0 1rem #ddd;
  position: relative;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header .container a.logo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  height: 7.2rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .container a.logo {
    width: 100%;
    height: 5rem;
    justify-content: center;
  }
}

header .container > ul {
  display: flex;
}

@media screen and (max-width: 767px) {
  header .container ul {
    margin: auto;
  }
}

header .container > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  font-size: 2rem;
  color: black;
  position: relative;
  padding: 0 3rem;
  transition: var(--main-transition-duration);
  overflow: hidden; /*That will hide the before element and make it appear on hover when the left change to 0 in hover effect*/
}

@media screen and (max-width: 767px) {
  header .container > ul > li > a {
    padding: 0 1rem;
    font-size: 1.6rem;
    height: 4rem;
  }
}

header .container > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
}

header .container > ul > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .container > ul > li > a:hover::before {
  left: 0;
  transition: var(--main-transition-duration);
}

header .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 5rem);
  width: 100%;
  z-index: 100;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  padding: 2rem;
  grid-template-columns: 310px auto;
  gap: 4rem;
  display: none;
  transition: display var(--main-transition-duration),
    top var(--main-transition-duration);
}

header .container > ul > li:last-child:hover .mega-menu {
  display: grid;
  top: calc(100% + 1px);
}

header .mega-menu .image img {
  max-width: 100%;
  height: 30rem;
}

@media screen and (max-width: 991px) {
  header .mega-menu {
    grid-template-columns: 1fr;
  }
  header .mega-menu .image img {
    display: none;
  }
}

header .mega-menu ul {
  gap: 0 5rem;
}

@media screen and (max-width: 767px) {
  header .mega-menu ul {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

header .mega-menu ul li {
  position: relative;
}

header .mega-menu ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #fafafa;
  transition: var(--main-transition-duration);
}

header .mega-menu ul li:hover:before {
  width: 100%;
}

header .mega-menu ul li a {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  color: var(--main-color);
  transition: var(--main-transition-duration);
}

header .mega-menu ul li:not(:nth-last-child(1)):not(:nth-last-child(2)) {
  border-bottom: 1px solid #ccc;
}

header .mega-menu ul li i {
  margin-right: 1rem;
}

/*End header*/

/*Start Landing*/
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-8deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 991px) {
  .landing .container.grid-1x2 {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}

.landing .container .intro h1 {
  font-size: 4rem;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .landing .container .intro h1 {
    font-size: 3rem;
  }
}

.landing .container .intro p {
  font-size: 2rem;
  line-height: 1.7;
  color: #777;
  max-width: 50rem;
  margin: 5px 0 0;
}

@media screen and (max-width: 767px) {
  .landing .container .intro p {
    font-size: 1.8rem;
  }
}

.landing .container .image img {
  max-width: 100%;
  width: 40rem;
  animation: up-down 5s linear infinite;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5rem);
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  bottom: 3rem;
  font-size: 3rem;
  transition: var(--main-transition-duration);
}

.landing a.go-down:hover {
  color: var(--main-color-alt);
}

.landing a.go-down i {
  animation: bouncing 1s infinite;
}

@keyframes bouncing {
  20% {
    transform: translateY(1rem);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
}
/*End Landing*/

/*Start  Section*/
.my-projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.my-projects .container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.my-projects .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition-duration);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 350px;
}

.my-projects .container .box:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2px 15px rgb(0 0 0/ 20%);
}

.my-projects .container .box img {
  width: 100%;
  max-width: 100%;
}

.my-projects .container .box .info {
  padding: 2rem;
  border-bottom: 1px solid #e6e6e6;
}

.my-projects .container .box .info h2 {
  font-size: 2rem;
  margin: 0;
}

.my-projects .container .box .info p {
  font-size: 1.4rem;
  margin: 10px 0 0;
  line-height: 1.7;
  color: #777;
}

.my-projects .container .box .more {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-projects .box .more a,
.my-projects .box .more i {
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.my-projects .container .box:hover .more i {
  position: relative;
  animation: moving-arrow 0.5s linear infinite;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(1rem);
  }
}
/*End Articles Section*/
